.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0;
  color: #fff;
}

.navigation_logged {
  gap: 20px;
}

.navigation__menu {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.navigation__link {
  display: block;
  height: 18px;
  text-decoration: none;
  margin: 0;
  margin-bottom: 4px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  color: #FFF;
  outline: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
}

.navigation__link:hover {
  opacity: .6;
}

.navigation__link:focus-visible {
  /* outline: 2px solid #000; */
  border-bottom: 2px solid #000;
}

.navigation__link_logged {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__button {
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 26px;
  flex-shrink: 0;
  margin: 0 0 7px 30px;
  /* margin-bottom: 7px;
  margin-left: 30px; */
  padding: 0;
  /* padding-top: 8px; */
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background: #2BE080;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  -webkit-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
}

.navigation__button:active {
  background-color: #20a35d;
  transform: scale(0.95);
}

.navigation__button:focus-visible {
  outline: 2px solid #000;
}

.navigation__button_logged {
  width: 100px;
  height: 23px;
  flex-shrink: 0;
  font-size: 14px;
  background: #F9F9F9;
  border-radius: 20px;
  padding-top: 0;
  /* padding-top: 9px; */
}

.navigation__menu-open-button {
  display: none;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  background: #fff url('../../images/menu-button-1280.svg') no-repeat center;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  flex-shrink: 0;
}

.navigation__menu-open-button:active {
  transform: scale(0.9);
}

.navigation__menu-open-button:focus-visible {
  outline: 2px solid #000;
}

@media screen and (max-width: 1279px) {
  .navigation__menu-open-button {
    display: block;
  }

  .navigation__menu {
    display: none;
  }

  .navigation__link {
    margin-bottom: -1px;
  }

  .navigation__button {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    gap: 14px;
  }

  .navigation__button {
    width: 54px;
    height: 26px;
    margin-bottom: 7px;
    margin: 6px 7px 0 0;
    font-size: 10px;
  }
}

@media screen and (max-width: 424px) {
  .navigation__link {
    margin: 1px 0 0;
    font-size: 10px;
    margin-bottom: 0;
  }

  .navigation__button {
    margin-bottom: 6px;
  }

  .navigation__menu-open-button {
    margin: -1px 5px 0 0;
    background: #fff url('../../images/menu-button-320.svg') no-repeat center;

  }
}
