.saved-movies {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 175px;}

@media screen and (max-width: 1279px) {
  .saved-movies {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .saved-movies {
    margin-bottom: 165px;
  }
}